
<!--<div class="product-grid">
  <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
</div>-->

@for (product of products; track product.id){
  <app-product-card [product]="product"></app-product-card>
}@empty{
  <p>np products available</p>
}

@if (products.length === 0){
  <p>no products found</p>
}

<div class="header">
  <h1>Online store</h1>
  <span class="favourite-badge">❤️{{favouritesCount()}}</span>
</div>

<div class="view-toggle">
  <button (click)="showFavouritesOnly.set(false)">all products</button>
  <button (click)="showFavouritesOnly.set(true)">favourites</button>
</div>

@for (product of displayedProducts(); track product.id){
  <div class ="product-wrapper">
    <app-product-card [product] = "product"></app-product-card>
    <button (click) = "toggleFavourite(product.id)">
      @if(isFavourite(product.id)){
        ❤️
      } @else{
        🤍
      }
    </button>
  </div>
} @empty{
  <p>no product to display</p>
}
